on: push

name: Build, Test, and Publish kata-deploy

jobs:
  kata-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: build-and-push-kata-deploy-ci
        run: |
          git clone https://github.com/amshinde/kata-packaging
          wget https://github.com/kata-containers/runtime/releases/download/1.9.0-rc0/kata-static-1.9.0-rc0-x86_64.tar.xz  
          mv kata-static-1.9.0-rc0-x86_64.tar.xz ./kata-packaging/kata-deploy/kata-static.tar.xz
          docker build --build-arg KATA_ARTIFACTS=kata-static.tar.xz -t katadocker/kata-deploy-ci:${{ github.sha }} ./kata-packaging/kata-deploy
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker push katadocker/kata-deploy-ci:${{ github.sha }}
          cd kata-packaging
          echo ::set-env name=PKG_SHA::${{git rev-parse HEAD}} 
      - name: test-kata-deploy-ci-in-aks
        uses: ./kata-packaging/kata-deploy/action
        env:
          PKG_SHA: env.PKG_SHA
          AZ_APPID: ${{ secrets.AZ_APPID }}
          AZ_PASSWORD: ${{ secrets.AZ_PASSWORD }}
          AZ_SUBSCRIPTION_ID: ${{ secrets.AZ_SUBSCRIPTION_ID }}
          AZ_TENANT_ID: ${{ secrets.AZ_TENANT_ID }}
